@font-face {
  font-family: system-ui;
  font-style: normal;
  font-weight: 300;
  src: local('.SFNSText-Light'), local('.HelveticaNeueDeskInterface-Light'),
    local('.LucidaGrandeUI'), local('Ubuntu Light'), local('Segoe UI Light'),
    local('Roboto-Light'), local('DroidSans'), local('Tahoma');
}

body {
  font: 1rem/1.6 system-ui;
  max-width: 60ch;
  margin: auto;
}

.input {
  display: flex;
  gap: 1rem;
}

.input input {
  flex: 1;
}

#out-words {
  border: 1px solid #888;
  background-color: #f8f8f8;
  padding: 0.25rem;
  border-radius: 0.25rem;
  overflow-y: scroll;
  font-size: 0.8rem;
  margin: 1px;
  width: 100% !important;
  height: 50vh;
}

mark {
  font-weight: bold;
}
