@font-face {
  font-family: system-ui;
  font-style: normal;
  font-weight: 300;
  src: local('.SFNSText-Light'), local('.HelveticaNeueDeskInterface-Light'),
    local('.LucidaGrandeUI'), local('Ubuntu Light'), local('Segoe UI Light'),
    local('Roboto-Light'), local('DroidSans'), local('Tahoma');
}

body {
  font: 1rem/1.6 system-ui;
  max-width: 60ch;
  margin: auto;
}

.input {
  display: flex;
  gap: 1rem;
}

.input input {
  flex: 1;
}

#out-words {
  margin: 1px;
  width: 100% !important;
  height: 50vh;
}
